# Android Studio / Gradle
.gradle/
build/
*.iml
*.iws
*.ipr
.idea/
out/
local.properties

# Arquivos específicos do Android
*.apk
*.aab
*.dex
*.class
bin/
gen/
obj/

# Firebase
google-services.json

# Arquivos do sistema
.DS_Store
Thumbs.db

# Kotlin
*.kotlin_module

# Logs
*.log

# Diretórios de build
captures/
.externalNativeBuild/
.cxx/

# Arquivos temporários
*.swp
*.swo
*~
.tmp/