# Android Studio / Gradle
.gradle/
**/build/
build/
.idea/
*.iml
*.iws
*.ipr
out/
local.properties

# Firebase
google-services.json

# Android
*.apk
*.aab
*.dex
*.class

# Native
.externalNativeBuild/
.cxx/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Kotlin
*.kotlin_module

# Capturas
captures/

# Temporários
*.swp
*.swo
*~
.tmp/